
img {
  max-height: 30vh;
}

td {
  vertical-align: top;
}

body {
  margin: 0px;
  padding: 0px;
}

.burger-info {
  width: 100%;
}

.even {
  background-color: lightcyan;
}

.odd {
  background-color: lightyellow;
}

.error {
  border: 3px solid red;
  background: pink;
  font-weight: bold;
  color: darkred;
}